version: '3.8'

services:
  postgres:
    image: postgres:16-alpine
    container_name: dw_postgres
    environment:
      POSTGRES_USER: dbt_user
      POSTGRES_PASSWORD: dbt_pass
      POSTGRES_DB: data_warehouse
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U dbt_user -d data_warehouse"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  pgdata:
